# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
# NB! Vi inkluderer .env i repoet KUN for lettere kjøring for sensor, slik at prosjektet kan kjøres uten manuell oppsett
# I normalt utviklingsmiljø ville disse vært ignorert og ikke pusha til github.
# .env
# .env*.local
# .env.production
# .env.development

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Firebase cache folder
.firebase/

# Firebase debug logs
firebase-debug.log*
firebase-debug.*.log*

